<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sesac.apiPractice.Mapper.MainMapper">
    <select id="retrieveAll" resultType="sesac.apiPractice.Domain.User">
        SELECT user.* FROM user
    </select>
    <insert id="insertUser" parameterType="sesac.apiPractice.Domain.User">
        INSERT INTO user (name, nickname) VALUES (#{name}, #{nickname})
    </insert>
    <delete id="delUser" parameterType="sesac.apiPractice.Domain.User">
        DELETE FROM user WHERE id = #{id}
    </delete>
    <select id="selectUser" resultType="sesac.apiPractice.Domain.User">
        SELECT * FROM user WHERE id=#{id}
    </select>
    <update id="updateUser">
        UPDATE user SET name = #{name}, nickname = #{nickname} where id = #{id}
    </update>
</mapper>