<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <%-include('02_ejs_template1')%>
    <% for(var i=0; i<data.length ; i++) { %>
        <p style="font-weight: bold;"><%=data[i]%></p>
    <% } %>
    <%-"<span style='color: orange;'>방가방가햄토리</span>"%>
</body>
</html>