<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>study6</title>
</head>
<body>
    <h1><span style="color:rgb(255, 179, 0);"><%=data.cookie%></span> 구워지고 있는 중</h1>
    <p><span style="color:yellowgreen; font-weight: bold;"><%=data.email%></span>을 확인해보세요!</p>
</body>
</html>