<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <script>
        function upload() {
            const formData = new FormData();
            var form = document.getElementById("form_info");
            var body = document.querySelector("body");
            var img = document.getElementById("img");
            formData.append("filename",form.filename.value);
            formData.append("userfile",form.userfile.files[0]);
            axios({
                method: "post",
                url: "/file_axios",
                headers: {
                    "Content-Type": "multipart/form-data",
                },
                data: formData,
            })
            .then(function(res) {
                img.remove();
                img.src = "uploads/"+res.data;
                img.style.width = 200+"px";
                img.style.height = 200+"px";
                body.append(img);
            })
        }
    </script>
</head>
<body>
    <form id="form_info">
        id <input type="text" name="id"><br>
        pw <input type="password" name="pw"><br>
        filename <input type="text" name="filename"><br>
        <input type="file" name="userfile"><br>
        <button type="button" onclick="upload()">업로드</button>
    </form>
    <img id="img">
</body>
</html>