<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
    <script>
        function createEmployee() {
            const form = document.getElementById('create_employee_form');
            fetch('/user',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: form.id.value,
                    grade: form.grade.value,
                    name: form.name.value,
                    phone: form.phone.value,
                    email: form.email.value
                }),
            })
            .then((res) => {
                if (res.status === 200) location.href="/";
                else alert("정보를 정확히 입력해주세요.");
            });
        };
    </script>
</head>
<body>
    <h2>직원 등록</h2>
    <form id="create_employee_form">
        직원 번호: <input type="number" name="id"/><br />
        직급: <input type="text" name="grade"/><br />
        이름: <input type="text" name="name"/><br />
        전화번호: <input type="number" name="phone"/><br />
        이메일: <input type="email" name="email"/><br />
    </form>
    <button onclick="createEmployee();">직원 등록</button>
</body>
</html>